<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCig2foMgt0HEHosfzhx-WSeiRe39VMXho</string>
	<key>GCM_SENDER_ID</key>
	<string>662052282003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahen.finance</string>
	<key>PROJECT_ID</key>
	<string>twitterproject-6d817</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterproject-6d817.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662052282003:ios:3ae6d87baddc648df87766</string>
</dict>
</plist>